# Ignore node_modules and build directories
frontend/node_modules/
frontend/build/

# Ignore virtual environment
backend/bbVenv/

# Ignore Python cache files
*.pyc
__pycache__/

# Ignore Django migration files
*/migrations/